body{
  background-color: #eee;
}

::-webkit-scrollbar { 
  display: none; 
}
.logo {
  transition: all .9s ease;
  -webkit-transform: rotateX(0deg);
  -webkit-transform-origin-y: 30px;
}
.logo:hover {
  /* -webkit-transform: rotateX(60deg); */
  -webkit-transform: rotateY(-30deg);
}

.App {
  /* text-align: center; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
  margin-bottom: 0;
}

.Footer-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  margin-bottom: 0;
}

.App-verify {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  
  text-align: center;
  /* background-color: #111; */
  height: auto;
  padding-top: 10px;
  color: #eee;
}
.verifylogo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
}
.yup {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .5s;
  width: 175px;
}
.nope {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .7s;
  width: 175px;
}
.warning {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .9s;
}

.cardOne {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .5s;
  width: 175px;
}
.cardTwo {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .7s;
  width: 175px;
}
.cardThree {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .9s;
}
.blogsegment{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 1s;
}

.App-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* background-color: #111; */
  height: 150px;
  padding-top: 10px;
  color: #eee;
}

.App-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* background-color: #111; */
  height: 100px;
  padding-top: 10px;
  color: #eee;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
